@font-face {
    font-family: Digit;
    src: url('DIgitalFont.ttf'),
}

#mainBox{
    -fx-background-image: url('background.png');
}
#button1{
    -fx-background-image: url('button1.png');
    -fx-background-size: stretch;
}

#button1:pressed{
    -fx-background-image: url('button1Press.png');
    -fx-background-size: stretch;
}

#button2{
    -fx-background-image: url('button2.png');
    -fx-background-size: stretch;
}

#button2:pressed{
    -fx-background-image: url('button2Press.png');
    -fx-background-size: stretch;
}

#button3{
    -fx-background-image: url('button3.png');
    -fx-background-size: stretch;
}

#button3:pressed{
    -fx-background-image: url('button3Press.png');
    -fx-background-size: stretch;
}

#screen{
	-fx-font-family: Digit;
}